*{
    overflow:auto;
}
*{
    box-sizing: border-box;
    font-family: sans-serif;
}

/* main header for mobile first aproach */
main{
    width: 97%;
    /* border: solid beige 9px; */
    margin: 0 10px;
    /* background: rgba(178,219,221,.65); */
}
img{
    max-width:90% ;
    margin: 10px 10px;
}
#profile-image{
    width:60%;
    margin: 20px 60px;
}
footer li{
    display: none;
}
.profile-name,div.top,footer nav{
    display: inline;
    font-size: 12px;
    font-weight: bold;
    
}
.profile-name{
    margin-right:100px;

}
div a, nav a, footer a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
nav a{
    font-weight: bold;
    
    
}
.main-nav li{
    margin-bottom: 20px;
}

#profile-name {
    display: inline-block;
    margin-left: 90px;
}
.homenav, .contactnav{
    margin-left: 70px;

}
.portfolio{
    margin-left: 65px;

}
p{
    text-align: center;
}
#portfolio,h2{
    font-size: 1em;
    text-align: center;
}
.contact {
    background: #edeff0;
    background: #edeff0;
    /* background-size: cover; */
    margin:0 10px;
    /* background: cadetblue; */
}
.contact h2{
    margin-bottom: -10px;
    margin-top: 50px;
    font-size: 1em;
}
body{
    font-size: 14px;
}











/* @media 1024px*/
@media(min-width:1024px){
.main-nav li,#profile-name,header ul, nav{
    display: inline;
   
}
#profile-name{
    font-size:1.4rem
}
header{
    padding:20px 0 30px 0;
    border: solid;
    background: #eee;
}
header ul{
    display: inline;
            padding: 0 0px 0 200px;
            font-weight: bold;
            margin: 0 10px 0 60px;
}
header li{
    font-size: 14px;
    margin-right:0;
}
.page, .mark, .map,.photo{
    float: left;
    width:33%;}
    .travel, .calc{
        float: right;
        width: 33%;
    }
    p{
        font-size: 20px;
    }
    #profile-image{
        float: right;
        width: 42%;
        margin-right: 30px;

    }
    .intro-p{
        float:left;
        width: 42%;
        text-align:left ;
        margin-left: 30px;
    }

.contact{
    width: 60%;
    margin:0 180px;
}
h2, #porfolio{
    font-size:24px;
}
.top{
    display:none;
}
footer li,.profile-name, footer ul{
    display: inline;


}
footer li{
    padding:0 2px;
}



footer ul{
    display: inline;
    padding: 0 0px 0 200px;
    font-weight: bold;
    margin: 0 10px 0 200px;
}
.profile-name{
    font-size: 16px;}

}
/* @media 768px */
@media(min-width:768px) and (max-width:1000px){
    #profile-name{
        display: block;
        margin-left: 280px;
        margin-bottom: 20px;
        margin-top:30px;
        font-size: 20px;
    }
    .main-nav li{
        display: inline-block;
        margin: 0 10px;
        
       
        
    }
    .main-nav{
        margin-left:175px;
        font-size: 17px;
    }

    #profile-image{
        float: right;
        width: 42%;
        margin-right: 30px;

    }
    .intro-p{
        float:left;
        width: 42%;
        text-align:left;
        margin-left: 25px;
    }
    p{
        font-size: 1rem;
    }
    .page,.map,.calc{
        float: right;
        width: 48%;
    }
    .mark, .travel,.photo{
        float: left;
        width: 48%;
    }
    #portfolio,h2, #contact h2 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
        margin-left: -50px;
        }
        #portfolio{
            margin-bottom:40px;
        }
        .top{
            display:none;
        }
        footer li,.profile-name, footer ul{
            display: inline;
        
    
        }
        footer li{
            padding:0 2px;
        }
       
    
        
        footer ul{
            display: inline;
            padding: 0 0px 0 200px;
            font-weight: bold;
            margin: 0 10px 0 60px;
        }
        .profile-name{
            font-size: 16px;
        }
        .contact p{
            width: 70%;
            margin:0 80px;
        

    
        }
        header.main-header {
            background: #eee;
            border: solid;
        }
        
        .contact p {
            margin-bottom: 15px;
        }
        
        footer {
            border: solid;
        }

       
        
        
       
    
}

       
        
        
       
    
